<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='printer/printer.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='printer/printer.js') }}"></script>
    <title>Pontedera - Stampa remoto</title>
</head>

<body>
    <h1 class="title main-title">Stampante remota</h1>

    <h3 class="sub-title title">Stampa comodamente file PDF con la stampante di casa Pontedera</h3>

    <div class="content">
        <p class="tutorial">
            Puoi stampare qualsiasi file in formato PDF su fogli A4.
            <br>
            Nota che i file non sono stampati immediatamente, ma può volerci fino a un'ora perché la stampa avvenga.
            Inoltre la stampante è attiva solo durante il giorno. Questo non ti impedisce di caricare file anche durante
            le ore notturne, ma la stampa avverrà il mattino seguente.
            <br>
            È necessario autenticarsi mediante una password. Questo serve per proteggere la stampante da utilizzi
            impropri.
        </p>
        <div id="login">
            <div class="login-form">
                <label for="password" id="label_password">Password:</label>
                <input type="password" name="password" id="input_password">
                <button onclick="login()" id="button_login">Login</button>
            </div>
        </div>
        <div id="main" style="display: none;">
            <div id="submit"></div>
            <div id="queued"></div>
            <div id="printed"></div>
        </div>
    </div>

    <div id="toast" class="toast toast-hidden"></div>


    <!-- <form action="{{args.submit_url}}" method="post" enctype="multipart/form-data">
        <input type="file" name="print_file" id="input_print_file" accept=".pdf">
        <label for="copies">Numero di copie:</label>
        <input type="number" name="copies" id="input_copies" min="1" max="100" step="1" value="1">
        <input type="submit" value="INVIA">
    </form> -->
</body>

</html>