<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontedera - Stampa remoto</title>
</head>
<body>
    <h1>Benvenuto nel servizio di stampa remoto</h1>
    <form action="{{args.submit_url}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file_path" id="input_file_path" accept=".pdf">
        <label for="copies">Numero di copie:</label>
        <input type="number" name="copies" id="input_copies" min="1" max="100" step="1" value="1">
        <label for="password">Password:</label>
        <input type="password" name="password" id="input_passowrd">
        <input type="submit" value="INVIA">
    </form>
</body>
</html>